/*  Navigation of this style sheet  */
/* ---------------------------------------------------*/
/* SET UP */
/* Video player style */
/* Chicken Animation */
/* Video player style */
/* Record player style and animation */
/* Music player style and animation */
/* Music notes groups style and animation */
/* MEDIA QUERIES */
/* ---------------------------------------------------*/

/* SET UP */
html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

.page-container{
  max-width:1200px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
  margin-left: 44px;
}

body{
  /* Source :https://miro.medium.com/max/9342/1*knUFiYxMS3NhVEj4IvrJjA.jpeg */
  background:url(../image/background.jfif);
  background-size:cover;
}

/* Video player style */
#video-frame{
  position:relative;
  width: 761px;
  height: 436px;
  z-index:1;
  margin-top: -2em;
}

#video-background{
  position: absolute;
  top: 16px;
  left: 34px;
  z-index: 0;
  margin-top: -2em;
}

/* Chicken Animation */
#chicken{
  position: absolute;
  top: 1em;
  left: 2em;
  width: 61px;
  height: 64px;
  background: url(../image/Chicken_Sprite_Sheet.png) left center;
  animation: dance 0.5s steps(2) infinite;
}

@keyframes dance{
  100%{
    background-position:-128px;
  }
}

#players{
  margin-top:10em;
}

/* Video player style */
#video-player{
  margin-top:63px;
  margin-left:265px;
  position:relative;
}

/* Record player style and animation */
#record-player{
  width: 400px;
  height: 399px;
  background:#e2ac0b;
  box-shadow: 8px 10px 3px #8a6a0c;
  margin-bottom: 30px;
  margin-left: 73px;
  margin-top: -81px;
  position: relative;
}

@keyframes dancingPlayer{
  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.1);
  }

  100%{
    transform:scale(1);
  }
}

#music-disc {
  background-color: #8a6f20;
  margin-top: 75px;
  margin-left: 91px;
  animation: rotate 0.8s linear infinite 1s;
  border-radius:50%;
}

@keyframes rotate{

  0%{
    transform:rotate(0deg);
  }

  100%{
    transform:rotate(360deg);
  }
}

#record-player-needle{
  top: 15px;
  right: 74px;
  position: absolute;
  animation: DiscPlay 1s forwards;
  transform-origin: right top;
}

@keyframes DiscPause{
  0%{
    transform:rotate(0);
  }

  100%{
      transform:rotateY(180deg);
  }
}

@keyframes DiscPlay{
  0%{
    transform:rotateY(180deg);
  }

  100%{
      transform:rotateY(0);
  }
}

#play-button, #pause-button{
  width:75px;
  height:75px;
  border-radius:50px;
  background-color: #000;
  box-shadow: 8px 6px rgb(19, 17, 17);
}

#play-button{
  margin-top: -1em;
}

@keyframes flip{
  100%{
    transform: rotateY(180deg);
  }
}

#pause-button{
  margin-left: 249px;
  margin-top: -4.7em;
}

@keyframes leftFlip{
  100%{
    transform: rotateX(180deg);
  }
}

/* Music player style and animation */
#music-player {
  width: 651px;
  height: 397px;
  /* Source :https://i.pinimg.com/originals/0d/7b/8d/0d7b8d21029b076ae3db4f4fe76cb025.png */
  background: url(../image/gold-background.png);
  box-shadow: 8px 10px 3px #8a6a0c;
  position:relative;
  margin-left: 2em;
  margin-top: -81px;
}

#song-list{
  margin-left: -2em;
  padding-left: 19px;
  border-right: 1px solid black;
  width: 296px;
   
}

#song-list #song-two,#song-three,#song-four,#song-five,#song-six,#song-seven,#song-eight{
  margin-top: 1em;
}
.playBtn{
  margin-top: -1px;
  border-radius: 50%;
  padding: 0.5em;
  background-color:#ad850d;
}

.song-name{
  margin-top: 4px;
  margin-left: 7px;
}

.flex-container2{
  display: flex;
  flex-flow: row wrap;
}

/* Music notes groups style and animation */
.notes:nth-child(1){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 1.1s;
}
.notes:nth-child(2){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 1.3s;
}
.notes:nth-child(3){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 1.5s;
}
.notes:nth-child(4){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 1.7s;
}
.notes:nth-child(5){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 1.9s;
}
.notes:nth-child(6){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 2.1s;
}
.notes:nth-child(7){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rotation 1.5s linear infinite 2.3s;
}

@keyframes rotation{
  0%{
    transform:rotate(0deg) translate(166px);
  }

  100%{
    transform:rotate(360deg) translate(166px);
  }
}

.notes-two:nth-child(1){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 1.1s;
}
.notes-two:nth-child(2){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 1.3s;
}
.notes-two:nth-child(3){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 1.5s;
}
.notes-two:nth-child(4){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 1.7s;
}
.notes-two:nth-child(5){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 1.9s;
}
.notes-two:nth-child(6){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 2.1s;
}
.notes-two:nth-child(7){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: move 1.5s linear infinite 2.3s;
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(166px, 166px);
  }

  40% {
    transform: translate(-166px, 166px);
  }

  60% {
    transform: translate(166px, -166px);
  }

  80% {
    transform: translate(-166px, -166px);
  }

  100% {
    transform: translate(0);
  }
}

.notes-three:nth-child(1){
  position: absolute;
  top: 176px;
  left: 38em;
  animation: jump 1.5s linear infinite 1.1s alternate;
}
.notes-three:nth-child(2){
  position: absolute;
  top: 177px;
  left: 35em;
  animation: jump 1.5s linear infinite 1.3s ;
}
.notes-three:nth-child(3){
  position: absolute;
  top: 177px;
  left: 32em;
  animation: jump 1.5s linear infinite 1.5s alternate;
}
.notes-three:nth-child(4){
  position: absolute;
  top: 177px;
  left: 29em;
  animation: jump 1.5s linear infinite 1.7s ;
}
.notes-three:nth-child(5){
  position: absolute;
  top: 177px;
  left: 26em;
  animation: jump 1.5s linear infinite 1.9s alternate;
}
.notes-three:nth-child(6){
  position: absolute;
  top: 177px;
  left: 23em;
  animation: jump 1.5s linear infinite 2.1s ;
}
.notes-three:nth-child(7){
  position: absolute;
  top: 177px;
  left: 20em;
  animation: jump 1.5s linear infinite 2.3s alternate;
}

@keyframes jump {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  25% {
    transform: translateY(166px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-166px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

.notes-four:nth-child(1){
  position: absolute;
  top:  29px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 1.1s alternate;
}
.notes-four:nth-child(2){
  position: absolute;
  top: 120px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 1.3s alternate-reverse ;
}
.notes-four:nth-child(3){
  position: absolute;
  top: 160px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 1.5s alternate;
}
.notes-four:nth-child(4){
  position: absolute;
  top: 200px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 1.7s alternate-reverse;
}
.notes-four:nth-child(5){
  position: absolute;
  top: 240px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 1.9s alternate;
}
.notes-four:nth-child(6){
  position: absolute;
  top: 280px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 2.1s alternate-reverse;
}
.notes-four:nth-child(7){
  position: absolute;
  top: 300px;
  left: 28em;
  animation: horizontalMovement 1.5s linear infinite 2.3s alternate;
}

@keyframes horizontalMovement{

  0%{
    transform:translateX(166px);
  }

  100%{
    transform:translateX(-166px);
  }
}

.notes-five:nth-child(1){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 1.1s;
}
.notes-five:nth-child(2){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 1.3s;
}
.notes-five:nth-child(3){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 1.5s;
}
.notes-five:nth-child(4){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 1.7s;
}
.notes-five:nth-child(5){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 1.9s;
}
.notes-five:nth-child(6){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 2.1s;
}
.notes-five:nth-child(7){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: ReverseMove 1.5s linear infinite 2.3s;
}

@keyframes ReverseMove {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(166px, 166px);
  }

  40% {
    transform: translate(166px, -166px);
  }

  60% {
    transform: translate(-166px, 166px);
  }

  80% {
    transform: translate(-166px, -166px);
  }

  100% {
    transform: translate(0);
  }
}

.notes-six:nth-child(1){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: centerPoint 1.5s linear infinite;
}
@keyframes centerPoint{
  0%{
    opacity:1;
  }

  100%{
    opacity:0;
  }
}
.notes-six:nth-child(2){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: leftTop 1.5s linear infinite;
}
@keyframes leftTop{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translate(-166px,-166px);
    opacity:1;
  }
}
.notes-six:nth-child(3){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: topEnd 1.5s linear infinite;
}
@keyframes topEnd{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translateY(-166px);
    opacity:1;
  }
}
.notes-six:nth-child(4){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rightTop 1.5s linear infinite;
}
@keyframes rightTop{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translate(166px,-166px);
    opacity:1;
  }
}
.notes-six:nth-child(5){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: leftBottom 1.5s linear infinite;
}
@keyframes leftBottom{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translate(-166px,166px);
    opacity:1;
  }
}
.notes-six:nth-child(6){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: bottomEnd 1.5s linear infinite;
}
@keyframes bottomEnd{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translateY(166px);
    opacity:1;
  }
}
.notes-six:nth-child(7){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: rightBottom 1.5s linear infinite;
}
@keyframes rightBottom{
  0%{
    transform:translate(0);
    opacity:0;
  }

  100%{
    transform:translate(166px,166px);
    opacity:1;
  }
}

.notes-seven:nth-child(1){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 1.1s;
}
.notes-seven:nth-child(2){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 1.3s;
}
.notes-seven:nth-child(3){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 1.5s;
}
.notes-seven:nth-child(4){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 1.7s;
}
.notes-seven:nth-child(5){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 1.9s;
}
.notes-seven:nth-child(6){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 2.1s;
}
.notes-seven:nth-child(7){
  position: absolute;
  top: 0;
  left: 266px;
  animation: zMove 1.5s linear infinite 2.3s;
}

@keyframes zMove{
  0%{
    transform:translateX(0);
  }
  50%{
    transform: translate(345px);
  }
  75%{
    transform:translateY(345px);
  }

  100%{
    transform: translate(345px,345px);
  }
}

.notes-eight:nth-child(1){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 1.1s;
}
.notes-eight:nth-child(2){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 1.3s;
}
.notes-eight:nth-child(3){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 1.5s;
}
.notes-eight:nth-child(4){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 1.7s;
}
.notes-eight:nth-child(5){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 1.9s;
}
.notes-eight:nth-child(6){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 2.1s;
}
.notes-eight:nth-child(7){
  position: absolute;
  top: 177px;
  left: 28em;
  animation: Reverserotation 1.5s linear infinite 2.3s;
}


@keyframes Reverserotation{
  0%{
    transform:rotate(0deg) translate(166px) rotate(0deg);
  }
  100%{
    transform:rotate(-360deg) translate(166px) rotate(-360deg);
  }
}

/* MEDIA QUERIES */

/* TABLET LAYOUT */ 
@media screen and (max-width:768px){
  #video-frame {
    margin-right: 16em;
  }
  #record-player{
    margin-left: 376px;
    flex: 1 0 59%;
  }
  #music-player{
    margin-left: 14em;
    margin-top: 65px;
    flex: 1 0 100%;
  }
}

/* MOBILE LAYOUT */
@media screen and (max-width:480px){
  #record-player {
    margin-left: 400px;
    flex: 0 0 96%;
  }

  #music-player{
    margin-left: 17em;
    flex: 1 0 162%;
  }
}